
.block {
    stroke: black;
    fill: rgb(187,232,255);
    stroke-width: 1;
}

.block-selected {
    stroke:blue !important;
    stroke-width:3 !important;
}

.block-pointed {
    stroke:lightblue !important;
    fill: rgb(207,252,255) !important;
    stroke-width:3 !important;
}
 



.canvas {
    fill: rgba(17, 17, 17, 0.322);
    stroke: gray;
    stroke-width:0.5;
}


.palette {
    fill: rgba(17, 17, 17, 0.322);
    stroke: blue;
    stroke-width:0.5;
}


.block-rect {
    fill: white
}

.block-text {
    cursor: default;
    stroke:black; 
    fill:black;
    font-family: "10pt Verdana, sans-serif";
    font-weight: lighter;
    font-size: 18px;
}

.block-port-knob {
    fill:lightgray;
    stroke: black;
    stroke-width: 1;
}

.block-port-knob-pointed {
    stroke: red;
    stroke-width: 1;
}

.block-port-text {
    cursor : default;
    stroke:black; 
    fill:black;
    font-family: "10pt Verdana, sans-serif";
    font-weight: lighter;
    font-size: 18px;
    text-align: right;
}

.block-port-text-pointed {
    cursor : default;
    stroke:black; 
    fill:black;
    font-family: "10pt Verdana, sans-serif";
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

.block-port-txtborder {
    fill:white;
}


.block-port-txtborder-pointed {
    fill:white;
    stroke:gray; 
    stroke-width: 1;
}



.block-port-txtborder-selected {
    fill:white;
    stroke:red; 
    stroke-width: 1;
}


.block-port-dragconn {
    stroke: red;
    stroke-width: 2;
}

.block-conn {
    stroke: red;
    stroke-width: 2;
}


.block-conn-line1 {
    stroke: red;
    stroke-width: 2;
}

.block-conn-line2 {
    stroke: red;
    stroke-width: 2;
}

.block-conn-line3 {
    stroke: red;
    stroke-width: 2;
}